.container{
    display: flex;
    /*flex-direction: column-reverse;*/
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    height: 600px;
    background-color: lightpink;
    align-items: flex-end;
    align-content: space-around;

}

body{
    height: 200px;
}

.item{
    background-color: lightblue;
    margin: 20px;
    height: 60px;
    width: 60px;
    padding: 20px;
    font-size: 30px;
    /*flex-grow: 1;*/
}

#item3{
    /*order: -3;*/
    align-self: stretch;
}
#item2{
    /*order: -2;*/
}
