div{
    background-color: lightcyan;
    border: 5px solid black;

    padding: 20px;


}

#div1{
    position: static;
}

#div3{
    /*position: relative;*/ /*positioning is done wrt to it's static position */
    /*position: fixed; !*positioning is done wrt window's corners(viewport) *!*/
    position: absolute; /*Div 3 takes the position w.r.t it's nearest ancestor that also has a "fixed" position defined before it*/
    top: 0px;

}
